{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block content %}
<div className="flex flex-col items-center">
    <div class="p-3 flex flex-col items-start justify-center">
        <h2 class="text-xl mb-2">Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="mt-2 bg-white p-3 w-fit hover:bg-gray-200 rounded-md" type="submit">Log In</button>
        </form>
    </div>
    <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    <p>Don't have an account? Sign up <a className="hover:decoration-rose-500 hover:underline-offset-0 text-white"
            href="{% url 'signup' %}">here</a></p>
</div>
{% endblock %}