<!-- templates/registration/password_reset_done.html -->
{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <div class="flex flex-col items-center justify-center bg-white w-fit rounded-xl mt-10 m-4 p-8">
        <h1 class="text-xl mb-2 font-bold self-start">Check your inbox.</h1>
        <p class="mt-2 mb-4">We've emailed you instructions for setting your password. You should receive the email
            shortly!.
        </p>
    </div>
</div>
{% endblock %}