<!-- templates/registration/password_change_done.html -->
{% extends "base.html" %}
{% block title %}Password Change Successful{% endblock title %}
{% block content %}
<div class="flex justify-center items-center">
    <div class="flex flex-col items-center justify-center bg-white w-fit rounded-xl mt-10 m-4 p-8">
        <h1 class="text-xl mb-2 font-bold self-start">Password change successful</h1>
        <p class="mt-2 mb-4">Your new password was changed. You can log in now on the <a
                class="text-cyan-500 hover:text-cyan-600 font-semibold" href=" {% url 'login' %}">log in page</a>.</p>
    </div>
</div>
{% endblock content %}