<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}

{% block title %}Password change{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <div
        class="flex flex-col items-center justify-center bg-white w-fit rounded-xl mt-10 m-4 p-8">
        <h1 class="text-lg mb-2 font-bold self-start">Password change</h1>
        <p class="mb-8 text-base">Please enter your old password, for security's
            sake, and
            then enter your new password twice so we
            can verify you typed it correctly.</p>
        <form class="admin-form" method="post" id="password-change-form">
            {% csrf_token %}
            <div class="mb-4 ">
                <label for="{{ form.username.id_for_label }}"
                    class="block text-gray-700 font-semibold">Old
                    password:</label>
                {{ form.old_password }}
            </div>
            <div class="mb-4">
                <label for="{{ form.username.id_for_label }}"
                    class="block text-gray-700 font-semibold">New
                    password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="mb-4">
                <label for="{{ form.username.id_for_label }}"
                    class="block text-gray-700 font-semibold">Confirm new
                    password:</label>
                {{ form.new_password2 }}
            </div>
            <div class="flex justify-center">
                <button
                    class="mt-2 mb-4 h-9 bg-cyan-500 p-3 w-fit rounded-xl font-semibold text-lg hover:bg-cyan-600 disabled:bg-cyan-200 flex justify-center items-center"
                    type="submit" id="passwordChangeBtn">
                    <span class='loader invisible'
                        id="passwordChangeBtnSpinner"></span>
                    <span class='block' id="passwordChangeBtnLabel">
                        Change my password
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    function handlePasswordChangeFormSubmit() {
        // Disable button
        document.getElementById('passwordChangeBtn').disabled = true;
        // Hidde button label
        document.getElementById('passwordChangeBtnLabel').classList.toggle('invisible');
        // Show loading indicator
        document.getElementById('passwordChangeBtnSpinner').classList.toggle('invisible');
    }

    document.querySelector('#password-change-form').addEventListener('submit', function (event) {
        handlePasswordChangeFormSubmit();
    });
</script>
{% endblock %}