{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="flex justify-center items-center">
    <div class="flex flex-col items-center justify-center bg-white w-fit rounded-xl mt-10 m-4 p-8">
        <h2 class="text-xl mb-2 font-bold">Register</h2>
        <form class="ml-2 mr-2 admin-form" method="post" id="signup-form">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ signup_form.username.id_for_label }}"
                    class="block text-gray-700 font-semibold">Username:</label>
                {{ signup_form.username }}
            </div>
            <div class="mb-4">
                <label for="{{ signup_form.password1.id_for_label }}"
                    class="block text-gray-700 font-semibold">Password:</label>
                {{ signup_form.password1 }}
            </div>
            <div class="mb-4">
                <label for="{{ signup_form.password2.id_for_label }}" class="block text-gray-700 font-semibold">Password
                    confirmation:</label>
                {{ signup_form.password2 }}
            </div>
            <div class="flex justify-center">
                <button
                    class="mt-2 mb-4 h-9 flex justify-center items-center bg-cyan-500 p-3 w-fit rounded-xl font-semibold text-lg hover:bg-cyan-600"
                    type="submit" id="registerBtn">
                    <span class='loader invisible' id="registerBtnSpinner"></span>
                    <span class='block' id="registerBtnLabel">
                        Register
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js_script %}
<script>

    function handlePasswordChangeFormSubmit() {
        // Disable button
        document.getElementById('registerBtn').disabled = true;
        // Hidde button label
        document.getElementById('registerBtnLabel').classList.toggle('invisible');
        // Show loading indicator
        document.getElementById('registerBtnSpinner').classList.toggle('invisible');
    }

    document.addEventListener('DOMContentLoaded', function () {
        const signupForm = document.getElementById('signup-form');

        if (signupForm) {
            signupForm.addEventListener('submit', function (event) {
                // Prevent the default form submission behavior
                event.preventDefault();

                // Disable form button, hidde button label, show loading spinner
                handlePasswordChangeFormSubmit();
                // Get the user's timezone
                const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

                // Create a FormData object from the form
                const formData = new FormData(signupForm);

                // Get the CSRF token value from the hidden input field
                const csrfToken = formData.get('csrfmiddlewaretoken');

                // Add the CSRF token to the headers
                const headers = new Headers({
                    'X-CSRFToken': csrfToken,
                });
                // Append the user's timezone to the form data
                formData.append('timezone', userTimezone);
                // Send the form data to your Django backend using fetch or any other method
                fetch('', {
                    method: 'POST',
                    body: formData,
                    headers: headers, // Include the CSRF token in the headers
                }).then(response => {
                    // Handle the response from the server, e.g., redirect to a success page.
                    // Replace these with toast elements
                    console.log(response)
                    console.log("Request was sent from the frontend")
                    window.location.href = "/"
                })
                    .catch(error => {
                        // Handle errors, e.g., display an error message to the user.
                        // Replace this with toast element
                        console.log("Error locating endpoint, could't send request")
                    });
            });
        }
    });</script>
{% endblock %}