@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }

  @font-face {
    font-family: "Maple";
    font-weight: 400;
    src: url("./font/MapleMono/MapleMono-Regular.ttf") format("TrueType");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Source Code Pro";
    font-weight: 400;
    src: url("./font/SourceCodePro/SourceCodePro-Regular.ttf")
      format("TrueType");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Source Code Pro";
    font-weight: 500;
    src: url("./font/SourceCodePro/SourceCodePro-Medium.ttf") format("TrueType");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Source Code Pro";
    font-weight: 600;
    src: url("./font/SourceCodePro/SourceCodePro-Semibold.ttf")
      format("TrueType");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Source Code Pro";
    font-weight: 700;
    src: url("./font/SourceCodePro/SourceCodePro-Bold.ttf") format("TrueType");
    font-style: normal;
    font-display: swap;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html {
    @apply font-Noto;
  }
}

/*Show child element when hovering on parent element */
.parent .hidden-child {
  visibility: hidden;
}

.parent:hover .hidden-child {
  visibility: visible;
}

/* Animation for modals */
@keyframes popover-content-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popover-content-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Animation for sidebar */
@keyframes sidebar-content-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes sidebar-content-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Input form style */
.admin-form input {
  margin-top: 0.5rem;
  height: 2rem;
  border-radius: 0.75rem;
  background-color: rgb(209 213 219);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: rgb(17 24 39);
}

/* Message duration */
.messages {
  /* Add animation and transition properties */
  animation: fadeOut 6s; /* Adjust the duration as needed */
  transition: opacity 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Style different message levels */
.alert-info {
  /* Tailwind-inspired success message styles */
  background-color: #48bb78; /* Customize color as needed */
  color: #fff; /* Text color */
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.alert-success {
  /* Tailwind-inspired info message styles */
  background-color: #4299e1;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.alert-warning {
  /* Tailwind-inspired warning message styles */
  background-color: #ecc94b;
  color: #333; /* Customize text color */
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.alert-error {
  /* Tailwind-inspired error message styles */
  background-color: #f56565;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.alert-debug {
  /* Tailwind-inspired error message styles */
  background-color: #4c0edf;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}
ul[data-type="taskList"] p {
  margin: 0;
}
ul[data-type="taskList"] li {
  display: flex;
}
ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}
ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}
ul[data-type="taskList"] li ul li,
ul[data-type="taskList"] li ol li {
  display: list-item;
}
ul[data-type="taskList"] li ul[data-type="taskList"] > li {
  display: flex;
}

.editRegion {
  cursor: text;
}

.editRegion .ProseMirror:focus-visible {
  outline: none;
}

.editRegion:focus-within {
  outline: solid;
}

input[type="checkbox"] {
  height: 1.25rem;
  width: 1.25rem;
  accent-color: rgb(217 70 239);
  cursor: pointer;
}
input[type="checkbox"]:checked {
  accent-color: rgb(232 121 249);
}
input[type="checkbox"]:checked:hover {
}

.tiptap {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* 'peer h-6 w-6 shrink-0 rounded-lg border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground', */
