{% load static %}
<!DOCTYPE html>
<html lang="en" style="margin:0px; height:100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel=" shortcut icon" type="image/x-icon"
        href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-sky-400 body-overflow">
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/index-bundle.js' %}">


    </script>
    <script>
        document.body.addEventListener('mousedown', event => {
            console.log(event.target.localName)
            if (event.detail > 1) {
                if (!(['input', 'textarea', 'p'].includes(event.target.localName))) {

                    event.preventDefault();
                }
            }
        });
        function watchForHover() {
            // lastTouchTime is used for ignoring emulated mousemove events
            let lastTouchTime = 0

            function enableHover() {
                if (new Date() - lastTouchTime < 500) return
                document.body.classList.add('hasHover')
                document.body.classList.remove('noHover')
            }

            function disableHover() {
                document.body.classList.remove('hasHover')
                document.body.classList.add('noHover')
            }

            function updateLastTouchTime() {
                lastTouchTime = new Date()
            }

            document.addEventListener('touchstart', updateLastTouchTime, true)
            document.addEventListener('touchstart', disableHover, true)
            document.addEventListener('mousemove', enableHover, true)

            enableHover()
        }

        watchForHover()
    </script>
    {% block js_script %}

    {% endblock %}
</body>

</html>