{% load static %}
<!DOCTYPE html>
<html lang="en" style="margin:0px; height:100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel=" shortcut icon" type="image/x-icon"
        href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-sky-400">
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/index-bundle.js' %}">


    </script>
    <script>
        document.body.addEventListener('mousedown', event => {
            if (event.detail > 1) {
                event.preventDefault();
            }
        });

    </script>
    {% block js_script %}

    {% endblock %}
</body>

</html>