{% extends "base.html" %}

{% block title %}
Task manager
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div id="root" class="flex flex-col items-center"></div>
{% else %}
<div class="flex flex-col items-center mt-3">
    <p class="mb-2">You are not logged in</p>
    <a class="bg-white p-3 mb-2 w-fit hover:bg-gray-200 rounded-md" href="{% url 'login' %}">Log In</a>
    <p>Or register if you don't have an account!</p>
    <a class="bg-white p-3 mt-2 w-fit hover:bg-gray-200 rounded-md" href="{% url 'signup' %}">Register</a>
</div>
{% endif %}
{% endblock %}

{% block js_script %}
{% endblock %}